{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Description:</strong> {{ object.description }}</li>
              <li class="list-group-item"><strong>Price:</strong> {{ object.price }}</li>
              <a href='{% url 'product_edit' object.pk %}'>Edit </a>
              <a href='{% url 'product_delete' object.pk %}'>Delete </a>
            </ul>
        </div>
    </div>


{% endblock %}