{% extends 'base.html' %}
{% block title %}Store{% endblock %}
{% block content %}

<center>
     {%if searched %}
        <h2>Вы искали {{ searched }}</h2>
         <br/>
         {% for product in products%}
            <ul class="list-group list-group-flush">
                <li  class="list-group-item" ><a href="{% url 'product_detail' product.id %}" >{{ product }} {{ product.price }}$</a>
                </li>
            </ul>

             <ul class="list-group list-group-flush">
              <li class="list-group-item">Элемент</li>

            </ul>

         {% empty %}
            <p>Извините по вашему запросу {{ searched }},ничего не найдено  </p>
         {% endfor %}
     {% else %}
        <h2>hey</h2>
     {% endif %}
</center>

{% endblock content %}